<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">
<main class="container"  *ngIf="isAdmin()">
  <div class="ajouterBtn">
    <a routerLink="/user-add">
      <button mat-flat-button *ngIf="isAdmin()"  style="margin: 5px" class="add-button">
        <mat-icon>add</mat-icon>
        Add User
      </button>
    </a>
  </div>
  <mat-list  *ngFor="let user of users">
    <mat-card>
      <div class="items" >
        <div>
          <img class="product" src="https://img.icons8.com/ios/50/000000/user-male-circle.png" />
        </div>
        <div class="item-right">
          <div class="item-right-content">
            <div><strong>
              <a routerLink="/user/{{user._id}}" class="title">
                {{user.email}}
              </a>
            </strong></div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-divider></mat-divider>
  </mat-list>

</main>
  </div>
</div>
