<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item" >
    <mat-card class="example-card card-container"  *ngIf="assignmentTransmis">
          <div class="aboutProf card-item">
            <div><img class="imageProf" src="{{getMatiereById(assignmentTransmis.matiere).profImage}}" ></div>
            <ul>
              <li>Matière : {{getMatiereById(assignmentTransmis.matiere).label}} </li><hr>
              <li>Professeur : {{getMatiereById(assignmentTransmis.matiere).profName}}  </li><hr>
              <li>Email : {{getMatiereById(assignmentTransmis.matiere).email}} </li><hr>
              <li>Classe : M2-MBDS </li><hr>
              <li>Année : 2021-2022</li>
            </ul>
          </div>

          <div class="card-item border-left">
            <mat-card-title-group>
              <mat-card-title>Examen de : {{assignmentTransmis.nom}}</mat-card-title>
              <mat-card-subtitle>Rendu le : <strong>{{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}</strong></mat-card-subtitle>
              <h1>Note : {{assignmentTransmis.note}}/20</h1>
            </mat-card-title-group>
            <mat-card-content>
              <strong>REMARQUE <br></strong>
              {{assignmentTransmis.remarque}}
            </mat-card-content>
            <div class="bottom">
<!--              <mat-checkbox *ngIf='!assignmentTransmis.rendu' (click)="onAssignmentRendu()">-->
<!--                Rendu-->
<!--              </mat-checkbox>-->
              <button mat-stroked-button *ngIf="isAdmin()"  color="primary" (click)="onClickEdit()">EDIT</button>
              <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="isAdmin()">DELETE</button>
            </div>
          </div>

          <div class="card-item border-left ">
            <img class="book-image"  src="https://cdn.dribbble.com/users/3395339/screenshots/12028646/media/a07a64ecc020373aa69506c7f849ea0a.gif" >
          </div>
    </mat-card>
  </div>
</div>

