 <div class="grid-container">
   <div class="grid-item"></div>
   <div class="grid-item">
     <mat-toolbar class="toobar">
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <a routerLink="/">
         <mat-icon class="white-icon">home</mat-icon>
         </a>
       </button>
       <a routerLink="/home" class="logoname"><span>Assignments App</span></a>
       <span class="example-spacer"></span>
       <mat-slide-toggle color="primary" (click)="login()">Admin</mat-slide-toggle>
       <div class="ajouterBtn cloud">
           <mat-icon class="white-icon" (click)="peuplerBD()">cloud_upload</mat-icon>
       </div>
       <div class="ajouterBtn">
         <a routerLink="/add">
             <mat-icon class="white-icon">library_books</mat-icon>
         </a>
       </div>
       <div class="ajouterBtn ">
         <a routerLink="/add">
             <mat-icon class="white-icon" >person</mat-icon>
         </a>
       </div>
     </mat-toolbar>
   </div>
 </div>


<!--
<app-assignments></app-assignments>
-->
<router-outlet></router-outlet>
